
* {
    box-sizing: border-box;
    margin: 0;
}


li {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #7945FF;
    border: solid 2px;
}

body {
    background-color: #7945FF;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: solid 3px;
    width: 630px;
    padding-top: 16px;
    padding-bottom: 32px;
    border-radius: 32px;
    background-color: white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.tomato {
    background-color: tomato;
}


.juste-colone {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-page-button {
    color: white;
    background-color: #5C2DD5;
    border-radius: 16px;
    padding: 8px 16px 8px 16px;
}

header {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 52px;
    margin-bottom: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page-main {
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}















































.hidden {
    display: none;
}